$button: "btn-primary";

$color: greenyellow;
$zero: 0px;
$font-family: Arial, Helvetica, sans-serif;
$white: white;
$block: block;
$black: black;
$none: none;
$grey: grey;
$blue: #337ab7;
$fixed: fixed;
$center: center;
$inline-block: inline-block;